doctype html
html
	head
		title NodeAuth
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(href='../stylesheets/bootstrap.css', rel='stylesheet')
		link(href='../stylesheets/style.css', rel='stylesheet')
		link(rel='shortcut icon' href='data:image/x-icon;,' type='image/x-icon')
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
			a.navbar-brand(href='/') NodeAuth
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarsExampleDefault.collapse.navbar-collapse
				ul.navbar-nav.mr-auto

					li.nav-item(class=(title === 'member' ? 'active':''))
						a.nav-link(href='/') Members
					if !user
						li.nav-item(class=(title === 'register' ? 'active':''))
							a.nav-link(href='/users/register') Register
						li.nav-item(class=(title === 'login' ? 'active':''))
							a.nav-link(href='/users/login') LogIn
					if user
						li.nav-item(class=(title === 'logout' ? 'active':''))
							a.nav-link(href='/users/logout') LogOut

	.container
		!= messages()
		block content
		footer
			p &copy; 2017 All Rights Reserved
	script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
	script.
			window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\\/script>')
	script(src='../javascripts/popper.min.js')
	script(src='../javascripts/bootstrap.js')
