extends layout

block content
  h1 LogIn
  p Pls LogIn
  form(method='post' action='/users/login', enctype='multipart/form-data')
    
    .form-group
      label User Name
      input.form-control(name='username' type='text', placeholder='Enter username')
    .form-group
      label Password
      input.form-control(name='password' type='password', placeholder='Enter password')
    
    button.btn.btn-primary(type='submit') LogIn
