extends layout

block content
  h1 Register
  p Pls register using the form below
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  form(method='post' action='/users/register', enctype='multipart/form-data')
    .form-group
      label  Name
      input.form-control(name='name' type='text', placeholder='Enter Name')
    .form-group
      label Email
      input.form-control(name='email' type='email', placeholder='Enter Email')
    .form-group
      label User Name
      input.form-control(name='username' type='text', placeholder='Enter username')
    .form-group
      label Password
      input.form-control(name='password' type='password', placeholder='Enter password')
    .form-group
      label Confirm Password
      input.form-control(name='password2' type='password', placeholder='Confirm password')
    .form-group
      label Profile Image
      input.form-control(name='profileimage' type='file')
    button.btn.btn-primary(type='submit') Register
