body {
  padding-top: 50px;
  font-family: arial;
}

a {
  color: #00B7FF;
}
footer{
  height:40pxs;
  background:#f4f4f4;
  margin-top:30px;
  padding-top:10px;
	text-align: center;
  overflow:auto;
}
ul.success li, ul.info li, ul.error li{
	margin: 20px 0 20px 0;
	padding: 15px;
	border: 1px solid trasparent;
	border-radius: 5px;
	list-style: none;
}
ul.success li{
	color: #3c763d;
	background: #dff0d8;
	border-color:#d6e9c6;
}
